<!DOCTYPE html>
{% load static %}
{% include "base.html" %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Legends || sumit</title>

  <title>sumit</title>
  <style media="screen">
    .footer{
      position: fixed;
    }
  </style>
</head>

<body style="background-color: #B3E5FC;">

  <br>
<h4 style="text-align:center;">Group Leader: "Jawad Ahmed" </h4>
<h4 style="text-align:center;">Group Members:  "Hammad Sanni" <br> "Muhammad Anas" <br> "Muhammad Asif" <br> "Fouzia Nawaz" </h4>


</body>

</html>
